name: Sync to Hugging Face hub
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          
          # Aktifkan LFS dan track file binary
          git lfs install
          git lfs track "*.png"
          git lfs track "*.pdf"
          git lfs track "*.jpg"
          
          # Update atribut file agar dikenali sebagai LFS
          git add .gitattributes
          git add .
          git commit -m "Convert binaries to LFS" || true
          
          # Push ke Hugging Face
          git push --force https://TanjayaJason:$HF_TOKEN@huggingface.co/spaces/TanjayaJason/Jak-Air main
